.theme.theme--light {
    &, 
    select,
    option,
    input {
        background-color: var(--color-light-background-primary); 
        color: black;
    }

    p,
    svg {
        color: black;
    }

    select,
    input {
        border: 1px solid var(--color-light-border);
    }
}

.theme.theme--dark {
    &,
    select,
    option,
    input {
        background-color: var(--color-dark-background-primary);
        color: white;
    }

    p,
    svg {
        color: white;
    }

    select,
    input {
        border: 1px solid var(--color-dark-border);
    }
}